/*
* Author: Shelley Lowe 
* Credits to https://www.behance.net/gallery/17390019/Preloaders and http://tympanus.net/codrops/2014/04/25/freebie-flat-style-squared-preloaders/ for some sweet designs
*/
body
{
    margin: 0;   
}
.container
{
    width: 100%;
    height: 250px;
    position: relative;
}
.container > div
{
    background-color: #FFF;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    font-size: 0;
}
.light-blue { background-color: #B3E5FC; }
.green { background-color: #A3E9A4; }
.purple { background-color: #E1BEE7; }
.amber { background-color: #FFECB3; }
.blue-grey { background-color: #CfD8DC; }
.red { background-color: #F9BDBB; }
.teal { background-color: #B2DFDB; }
.indigo { background-color: #C5CAE9; }
.yellow { background-color: #FFF9C4; }

@-webkit-keyframes stretch-and-arc 
{
    0% { width: 180px; height: 10px; border-radius: 5px; }
    18% { width: 10px; height: 10px; border-radius: 10px; }
    25% { width: 30px; height: 30px; border-radius: 100%; -webkit-transform: translateY(0px); }
    32% { -webkit-transform-origin: center center; -webkit-transform: translateY(-80px) rotate(0deg); border-radius: 5px; }
    42% { -webkit-transform-origin: center 80px; -webkit-transform: translateY(-80px) rotate(90deg); }
    58% { -webkit-transform-origin: center 80px; -webkit-transform: translateY(-80px) rotate(-90deg); }
    68% { -webkit-transform-origin: center center; -webkit-transform: translateY(-80px) rotate(0deg); border-radius: 5px; }
    75% { width: 30px;  height: 30px; border-radius: 100%; -webkit-transform: translateY(0px); }
    80% { width: 10px; height: 10px; border-radius: 10px; }
    100% { width: 180px; height: 10px; border-radius: 5px; }
}
@keyframes stretch-and-arc 
{
    0% { width: 180px; height: 10px; border-radius: 5px; }
    18% { width: 10px; height: 10px; border-radius: 10px; }
    25% { width: 30px; height: 30px; border-radius: 100%; transform: translateY(0px); }
    32% { transform-origin: center center; transform: translateY(-80px) rotate(0deg); border-radius: 5px; }
    42% { transform-origin: center 80px; transform: translateY(-80px) rotate(90deg); }
    58% { transform-origin: center 80px; transform: translateY(-80px) rotate(-90deg); }
    68% { transform-origin: center center; transform: translateY(-80px) rotate(0deg); border-radius: 5px; }
    75% { width: 30px;  height: 30px; border-radius: 100%; transform: translateY(0px); }
    80% { width: 10px; height: 10px; border-radius: 10px; }
    100% { width: 180px; height: 10px; border-radius: 5px; }
}
.stretch-and-arc
{
    background: #FFF;
    -webkit-animation: stretch-and-arc 3.5s infinite;
    animation: stretch-and-arc 3.5s infinite;
}

@-webkit-keyframes circle-pulse 
{
    0% { width: 80px; height: 80px; border-radius: 15px; }
    10% { width: 80px; height: 80px; border-radius: 100% }
    20% { -webkit-transform: scale(0.3, 0.3); }
    30% { -webkit-transform: scale(1, 1); border-radius: 100% }
    50% { -webkit-transform: scale(0.5, 0.5); border-radius: 0%}
    70% { -webkit-transform: scale(1, 1); border-radius: 100%}
    80% { -webkit-transform: scale(0.3, 0.3); }
    90% { width: 80px; height: 80px; }
    100% { width: 80px; height: 80px; border-radius: 15px; }
}
@keyframes circle-pulse 
{
    0% { width: 80px; height: 80px; border-radius: 15px; }
    10% { width: 80px; height: 80px; border-radius: 100% }
    20% { transform: scale(0.3, 0.3); }
    30% { transform: scale(1, 1); }
    50% { transform: scale(0.5, 0.5); }
    70% { transform: scale(1, 1); }
    80% { transform: scale(0.3, 0.3); }
    90% { width: 80px; height: 80px; border-radius: 100% }
    100% { width: 80px; height: 80px; border-radius: 15px; }
}
.circle-pulse
{
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: circle-pulse 3.5s infinite;
    animation: circle-pulse 3.5s infinite;
}

@-webkit-keyframes box-circle
{
    10% { width: 50px; height: 50px; }
    14% { width: 35px; height: 35px; }
    18% { width: 45px; height: 45px; -webkit-transform: rotate(0deg); }
    22% { border-radius: 0%; }
    30% { border-radius: 100%; -webkit-transform: rotate(180deg); }
    34% { border-radius: 0%; -webkit-transform: rotate(0deg); }
    38% { border-radius: 0%; }
    41% { border-radius: 15px; }
    82% { width: 45px; height: 45px; border-radius: 15px; }
    100% { width: 0; height: 0; border-radius: 100%; }
}
@keyframes box-circle
{
    10% { width: 50px; height: 50px; }
    14% { width: 35px; height: 35px; }
    18% { width: 45px; height: 45px; transform: rotate(0deg); }
    22% { border-radius: 0%; }
    30% { border-radius: 100%; transform: rotate(180deg); }
    34% { border-radius: 0%; transform: rotate(0deg); }
    38% { border-radius: 0%; }
    41% { border-radius: 15px; }
    82% { width: 45px; height: 45px; border-radius: 15px; }
    100% { width: 0; height: 0; border-radius: 100%; }
}
@-webkit-keyframes box-circle-inner
{
    41% { width: 0px; height: 0px; }
    54% { width: 7px; height: 7px; top: 19px; left: 19px; }
    65% { width: 7px; height: 7px; top: 0px; left: 10px; }
    69% { width: 7px; height: 7px; top: 9px; left: 38px; }
    73% { width: 7px; height: 7px; top: 27px; left: 0px; }
    78% { width: 7px; height: 7px; top: 38px; left: 20px; }
    82% { width: 7px; height: 7px; top: 19px; left: 19px; }
    100% { width: 4px; height: 4px; top: -2px; left: -2px; }
}
@keyframes box-circle-inner
{
    41% { width: 0px; height: 0px; }
    54% { width: 7px; height: 7px; top: 19px; left: 19px; }
    65% { width: 7px; height: 7px; top: 0px; left: 10px; }
    69% { width: 7px; height: 7px; top: 9px; left: 38px; }
    73% { width: 7px; height: 7px; top: 27px; left: 0px; }
    78% { width: 7px; height: 7px; top: 38px; left: 20px; }
    82% { width: 7px; height: 7px; top: 19px; left: 19px; }
    100% { width: 4px; height: 4px; top: -2px; left: -2px; }
}
.box-circle
{
    width: 0;
    height: 0;
    background-color: transparent !important;
    border: 2px solid #FFF;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: box-circle 5s infinite;
    animation: box-circle 5s infinite;
}
.box-circle::after
{
    content: '';
    width: 0;
    height: 0;
    background-color: #FFF;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: box-circle-inner 5s infinite;
    animation: box-circle-inner 5s infinite;
}

@-webkit-keyframes square-split-part
{
    0% { margin-left: -3px; margin-right: -3px; -webkit-transform-origin: center center; -webkit-transform: scale(0.8, 4); }
    21% { margin-left: -1px; margin-right: -1px; -webkit-transform: scale(1, 1); }
    22% { margin-left: 0; margin-right: 0; -webkit-animation-timing-function: ease; }
    50% { margin-left: -2px; margin-right: -2px; -webkit-transform: scale(0.6, 0.6); -webkit-animation-timing-function: ease-in-out; }
    78% { margin-left: 0; margin-right: 0; -webkit-animation-timing-function: ease; }
    79% { margin-left: -1px; margin-right: -1px; -webkit-transform: scale(1, 1); }
    100% { margin-left: -3px; margin-right: -3px; -webkit-transform-origin: center center; -webkit-transform: scale(0.8, 4); }
}
@keyframes square-split-part
{
    0% { margin-left: -3px; margin-right: -3px; transform-origin: center center; transform: scale(0.8, 4); }
    21% { margin-left: -1px; margin-right: -1px; transform: scale(1, 1); }
    22% { margin-left: 0; margin-right: 0; animation-timing-function: ease; }
    50% { margin-left: -2px; margin-right: -2px; transform: scale(0.6, 0.6); animation-timing-function: ease-in-out; }
    78% { margin-left: 0; margin-right: 0; animation-timing-function: ease; }
    79% { margin-left: -1px; margin-right: -1px; transform: scale(1, 1); }
    100% { margin-left: -3px; margin-right: -3px; transform-origin: center center; transform: scale(0.8, 4); }
}
.square-split
{
    width: 200px;
    height: 120px;
    background-color: transparent !important;
}
.square-split-part
{
    width: 30px;
    height: 30px;
    margin: 45px 0 0 0;
    background-color: #FFF;
    display: inline-block;
    position: relative;
    -webkit-animation: square-split-part 2s infinite;
    animation: square-split-part 2s infinite;
}

@-webkit-keyframes circle-path
{
    0% { width: 60px; height: 60px; }
    10% { width: 15px; height: 15px; -webkit-transform: translateY(0px); }
    20% { -webkit-transform: translateY(-50px); }
    40% { -webkit-transform-origin: center 50px; -webkit-transform: translateY(-50px) rotate(180deg); }
    69% { width: 15px; height: 15px; }
    70% { -webkit-transform-origin: center 50px; -webkit-transform: translateY(-50px) rotate(-180deg); }
    95% { -webkit-transform-origin: center center; -webkit-transform: translateY(50px) rotate(180deg); }
    100% { -webkit-transform: scale(1, 1); }
}
@keyframes circle-path
{
    0% { width: 60px; height: 60px; }
    10% { width: 15px; height: 15px; transform: translateY(0px); }
    20% { transform: translateY(-50px); }
    40% { transform-origin: center 50px; transform: translateY(-50px) rotate(180deg); }
    69% { width: 15px; height: 15px; }
    70% { transform-origin: center 50px; transform: translateY(-50px) rotate(-180deg); }
    95% { transform-origin: center center; transform: translateY(50px) rotate(180deg); }
    100% { transform: scale(1, 1); }
}
.circle-path
{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: circle-path 3s infinite;
    animation: circle-path 3s infinite;
}

@-webkit-keyframes ball-bounce
{
    0% { top: -50px; -webkit-animation-timing-function: ease-in; }
    12% { top: -20px; -webkit-animation-timing-function: ease-out; }
    18% { top: -38px; -webkit-animation-timing-function: ease-in; }
    38% { top: 22px; -webkit-animation-timing-function: ease-out; }
    43% { top: 2px; -webkit-animation-timing-function: ease-in; }
    62% { top: 60px; -webkit-animation-timing-function: ease-out; }
    68% { top: 42px; -webkit-animation-timing-function: ease-in; }
    90%, 100% {top: 100px; -webkit-animation-timing-function: ease-in-out; }
}
@keyframes ball-bounce
{
    0% { top: -50px; animation-timing-function: ease-in; }
    12% { top: -20px; animation-timing-function: ease-out; }
    18% { top: -38px; animation-timing-function: ease-in; }
    38% { top: 22px; animation-timing-function: ease-out; }
    43% { top: 2px; animation-timing-function: ease-in; }
    62% { top: 60px; animation-timing-function: ease-out; }
    68% { top: 42px; animation-timing-function: ease-in; }
    90%, 100% {top: 100px; animation-timing-function: ease-in-out; }
}
@-webkit-keyframes platform-disappear-top
{
    12% { width: 100px; left: 25%; }
    15% { width: 125px; left: 20%; }
    20%, 40% { width: 0px; left: 50%; }
    50%, 100% { width: 100px; left: 25%; }
}
@keyframes platform-disappear-top
{
    12% { width: 100px; left: 25%; }
    15% { width: 125px; left: 20%; }
    20%, 40% { width: 0px; left: 50%; }
    50%, 100% { width: 100px; left: 25%; }
}
@-webkit-keyframes platform-disappear-middle
{
    38% { width: 100px; left: 25%; }
    41% { width: 125px; left: 20%; }
    46%, 70% { width: 0px; left: 50%; }
    80%, 100% { width: 100px; left: 25%; }
}
@keyframes platform-disappear-middle
{
    38% { width: 100px; left: 25%; }
    41% { width: 125px; left: 20%; }
    46%, 70% { width: 0px; left: 50%; }
    80%, 100% { width: 100px; left: 25%; }
}
@-webkit-keyframes platform-disappear-bottom
{
    62% { width: 100px; left: 25%; }
    65% { width: 125px; left: 20%; }
    70%, 90% { width: 0px; left: 50%; }
    100% { width: 100px; left: 25%; }
}
@keyframes platform-disappear-bottom
{
    62% { width: 100px; left: 25%; }
    65% { width: 125px; left: 20%; }
    70%, 90% { width: 0px; left: 50%; }
    100% { width: 100px; left: 25%; }
}
.platform-bounce
{
    width: 200px;
    height: 120px;
    background-color: transparent !important;   
}
.ball
{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #FFF;
    position: relative !important;
    left: 94px;
    -webkit-animation: ball-bounce 3s infinite;
    animation: ball-bounce 3s infinite;
}
.platform
{
    width: 100px;
    height: 8px; 
    border-radius: 5px;
    background-color: #FFF;
    display: inline-block;
    margin-top: 20px;
    -webkit-animation: platform-disappear-middle 3s infinite;
    animation: platform-disappear-middle 3s infinite;
}
.platform::before
{
    content: '';
    background-color: #FFF;
    width: 100px;
    height: 8px; 
    border-radius: 5px; 
    position: absolute;
    top: -10px;
    left: 25%;
    -webkit-animation: platform-disappear-top 3s infinite;
    animation: platform-disappear-top 3s infinite;
}
.platform::after
{
    content: '';
    background-color: #FFF;
    width: 100px;
    height: 8px; 
    border-radius: 5px; 
    position: absolute;
    top: 70px;
    left: 25%;
    -webkit-animation: platform-disappear-bottom 3s infinite;
    animation: platform-disappear-bottom 3s infinite;
}

@-webkit-keyframes triangle
{
    0% { border-bottom-width: 65px; border-left-width: 40px; border-right-width: 40px; -webkit-transform: rotate(0deg); }
    15% { border-right-width: 0px; border-left-width: 40px; }
    30% { border-bottom-width: 80px; border-left-width: 0px; border-right-width: 40px; }
    45% { border-bottom-width: 40px; border-left-width: 40px; border-right-width: 40px; -webkit-transform: translateX(0); }
    55% { -webkit-transform: translateX(-30px); }
    65% { -webkit-transform: translateX(30px); }
    75% { -webkit-transform: translateX(0px); }
    76% { -webkit-transform: rotate(0); }
    100% { border-bottom-width: 65px; -webkit-transform: rotate(360deg); }
}
@keyframes triangle
{
    0% { border-bottom-width: 65px; border-left-width: 40px; border-right-width: 40px; transform: rotate(0deg); }
    15% { border-right-width: 0px; border-left-width: 40px; }
    30% { border-bottom-width: 80px; border-left-width: 0px; border-right-width: 40px; }
    45% { border-bottom-width: 40px; border-left-width: 40px; border-right-width: 40px; transform: translateX(0); }
    55% { transform: translateX(-30px); }
    65% { transform: translateX(30px); }
    75% { transform: translateX(0px); }
    76% { transform: rotate(0); }
    100% { border-bottom-width: 65px; transform: rotate(360deg); }
}
.triangle
{
    width: 0;
    height: 0;
    border-right: 40px solid #B2DFDB;
    border-left: 40px solid #B2DFDB;
    border-bottom: 65px solid #FFF;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-animation: triangle 2.5s infinite;
    animation: triangle 2.5s infinite;
}